.favorite-btn {
  background: none;
  border: none ;
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
}

.favorite-icon {
  width: 24px;
  height: 40px;
}

.favorite-icon.grayscale {
  filter: grayscale(100%);
}

.product-header {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.product-content img {
  width: 200px;
  height: 200px;
}
