

<div class="product-header">
  <!-- Bouton "Retirer des favoris" ou "Ajouter aux favoris" -->
  <h1>{{product?.nom}}</h1>
  <button (click)="switchFavorite(); $event.stopPropagation()" class="favorite-btn">
    <img
      [src]="!(product) || product.isFavorite ? 'prefere.png' : 'prefere.png'"
      [class.grayscale]="!product?.isFavorite"
      alt="Icône de favori"
      [attr.aria-label]="!(product) || product.isFavorite ? 'Remove from favorites' : 'Add to favorites'"
      class="favorite-icon" />
  </button>
</div>

<div class="product-content">
  <img [src]="product?.image" alt="Image du produit" />
  <p>{{product?.prixMoyen | currency}}</p>
  <button (click)="addToCart()" class="add-btn">Add to cart</button>
  @if (product?.nomEvolution) {
    <div>
      <h2>ALLER A L'EVOLUTION</h2>
      <button (click)="goToEvolution()" class="add-btn">GO</button>
    </div>
  }
</div>


