header{
  background-color: darkseagreen;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  nav{
    margin-right: 1rem;
    ul{
      display: flex;
      gap: 1rem;
      li{
        list-style: none;
        a{
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: normal;
          transition: color 0.2s;
          &:hover{
            color: #899266;
            transition: color 0.2s;
          }
        }
      }
    }
  }
}
