.product{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 12rem;
  height: 12rem;
}

.product:hover{
  background-color: rgba(51, 51, 51, 0.1);
  cursor: pointer;
}

.product img{
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.favorite-btn {
  background: none;
  border:none;
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
}

.favorite-icon {
  width: 24px!important;
  height: 24px!important;
}

.favorite-icon.grayscale {
  filter: grayscale(100%);
}
